.TestPage {
    background: yellowgreen;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.testNavbar {
    background: blue;
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
    line-height: 50px;
}

.stickyNavbar {
    background: rgb(12, 133, 141);
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
    line-height: 50px;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.itemsWrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background: yellow;
    gap: 40px;
}

.item {
    background: pink;
    flex: 1 0 20%;
    max-width: 200px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}