.TestPage {
    background: yellowgreen;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.itemsWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background: yellow;
    gap: 40px;
}

.item {
    background: pink;
    max-width: 200px;
    flex: 1 0 20%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}