.descriptionBlock {
    display: flex;
    width: 100%;
    height: 100%;
    background: rgb(227, 28, 188);
}

.itemName {
    background: rgb(106, 185, 137);
    flex-grow: 1;
}

.itemPrice {
    background: rgb(73, 76, 143);
    flex-grow: 1;
}

.itemTime {
    background: rgb(200, 52, 87);
    flex-grow: 1;
}

.itemUserName {
    background: rgb(220, 237, 37);
    flex-grow: 1;
}

.descriptionWrapper {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.favoritesWrapper {
    background: rgb(9, 101, 240);
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5px;
    height: 100%;
    flex-grow: 1;
}