.EditeItemBtn {
    background-color: #867e7e;
    color: white; 
    border: none; 
    border-radius: 8px; 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 

    &:hover {
        background-color: #574f4f; 
    }

    &:active {
        background-color: #433a3a; 
    }
}