.app.dark {
    --bg-color: rgb(1, 1, 248);
    --inverted-bg-color: rgb(133, 133, 137);

    --primary-color: rgb(48, 227, 48);
    --secondary-color: rgb(11, 70, 11);
    --inverted-primary-color: rgb(0, 2, 0);
    --inverted-secondary-color: rgb(2, 40, 2);
}