.itemList {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.item {
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    background-color: #fff;
    width: calc(33.333% - 32px);
    /* 3 items per row with 16px gap */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.disabled {
    pointer-events: none;
  }
  