.RegistrationPage {
    background: yellowgreen;
    min-height: 700px;
    width: 100%;
}

.inputsWrapper {
    background: red;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.pass {
    background: red;
}
