.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--main-header);
    display: flex;
    justify-content: center;
}

.mainLink {
    width: 130px;
    text-align: center;
}

.mainLink:hover {
    color: aqua;
}

.links {
    background-color: var(--main-header);
    background-color: rgb(169, 35, 35);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}