.ImageBlockWrapper {
    display: flex;
    position: relative;

}

.SWH {
    max-width: var(--imageBlock-width-S);
    max-height: var(--imageBlock-height-S);
}

.MWH {
    max-width: var(--imageBlock-width-M);
    max-height: var(--imageBlock-height-M);
}

.LWH {
    max-width: var(--imageBlock-width-L);
    max-height: var(--imageBlock-height-L);
}

.SH {
    width: 100%;
    height: var(--imageBlock-height-S);
}

.MH {
    width: 100%;
    height: var(--imageBlock-height-M);
}

.LH {
    width: 100%;
    height: var(--imageBlock-height-L);
}

.ImageBlockWrapper button {
    display: none;
    position: absolute;
    background-color: transparent;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
}

.prevPhotoBtn {
    left: 5px;
}

.ImageBlockWrapper:hover .prevPhotoBtn {
    display: block;
}

.nextPhotoBtn {
    right: 5px;
}

.ImageBlockWrapper:hover .nextPhotoBtn {
    display: block;
}

.counter {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
    padding: 5px 10px;
    border-radius: 10px;
}

.ImageBlockWrapper:hover .counter {
    display: block;
}